@import './reset.scss';
@import './fonts.scss';

$def_color: #1698d9;
$act_color: #e62e7a;
$dis_color: #b3b3b3;

body{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%),
  url(../img/pattern.png);
}

.main{
  margin: 200px auto;
}

h1.mainTitle{
  margin: 25px auto;
  text-align: center;
  height: 34px;
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
  font-family: "Exo 2.0-Thin";
  font-size: 36px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item{
  padding: 5px;
}

.box{
  margin: 0 35px;
  box-sizing: border-box;
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
  position: relative;
  width: 320px;
  height: 480px;
  background-color: #f2f2f2;
  border-radius: 10px ;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px;
  cursor: pointer;

  &-border__def{
    border: 4px solid $def_color;

    &:before{
      transform: rotate(43deg);
      position: absolute;
      top: -5px;
      left: -7px;
      margin: -35px;
      padding: 35px;
      background: transparent;
      border-right: 5px solid $def_color;
      content: ''
    }
  }
  
  &-border__act{
    border: 4px solid $act_color;

    &:before{
      transform: rotate(43deg);
      position: absolute;
      top: -5px;
      left: -7px;
      margin: -35px;
      padding: 35px;
      background: transparent;
      border-right: 5px solid $act_color;
      content: ''
    }
  }
  &-border__dis{
    border: 4px solid $dis_color;

    &:before{
      transform: rotate(43deg);
      position: absolute;
      top: -5px;
      left: -7px;
      margin: -35px;
      padding: 35px;
      background: transparent;
      border-right: 5px solid $dis_color;
      content: ''
    }
    
  }
  .box-in__up{
    padding-left: 45px;
    padding-top: 20px;
    height: 182px;

    .box-pre__title{
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      font-family: "Trebuchet MS";
      }
    .box-sub__title{
      margin-top: 10px;
      color: #000000;
      font-family: "Trebuchet MS";
      font-size: 48px;
      font-weight: 700;
    }
    .box-sm__title{
      margin-top: 5px;
      color: #000000;
      font-family: "Trebuchet MS";
      font-size: 24px;
      font-weight: 700;
    }
    .box-descr{
      overflow: hidden;
      white-space: pre-line;
      margin-top: 15px;
      color: #666666;
      font-family: "Trebuchet MS";
      font-size: 14px;
      line-height: 16px;
    }
  }
  .box-in__down{
    position: relative;
    height: 298px;

    .box-image{
      background:  url(../img/kitty.png) no-repeat;
      height: 270px;
    }

    .box-circle{
      position: absolute;
      border-radius: 50%;
      -moz-border-radius: 50% ;
      -webkit-border-radius: 50%;
      z-index: 3;
      width: 81px;
      height: 81px;
      bottom: 20px;
      right: 20px;
    
      .box-weight_number{
        width: 19px;
        height: 53px;
        color: #ffffff;
        font-family: "Trebuchet MS";
        font-size: 21px;
        font-weight: 400;
        line-height: 22px;
      }
      .box-weight__measure{
        font-size: 42px;
      }
      
    }
    .box-circle__def{
      background-color: $def_color;
    }
    
    .box-circle__act{
      background-color: $act_color;
    }
    .box-circle__dis{
      background-color: $dis_color;
    }

  }
}
// -------------- Box-out --------------
.box-out{
  &-out__act{
    
  }
  &-out__dis{
  
  }
  &-out__def{
    width: 207px;
    height: 14px;
    text-shadow: 0 1px 0 #000000;
    color: #ffffff;
    font-family: "Trebuchet MS";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    span{
      cursor: pointer;
      color: $def_color;
      font-family: "Trebuchet MS";
      font-weight: 700;
      border-bottom: 1px dashed;
     }
  }
  
}




